################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/WebSymbols
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/TagPrefixes/.version
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/TagPrefixes/.crc
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/TagPrefixes
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/MVC/.version
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/MVC/.crc
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/MVC
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/JSTest/.version
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/JSTest/.crc
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/JSTest
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/FileDependencies/.version
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/FileDependencies/.crc
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/FileDependencies
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/ExternalFiles/javascript.dat
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/ExternalFiles
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/MANIFEST-000002
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/LOG
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/LOCK
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/CURRENT
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/000011.sst
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/000010.log
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/000009.sst
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/000007.sst
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db/000005.sst
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/Db
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/BuildScriptCache/.version
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/BuildScriptCache/.crc
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00/BuildScriptCache
/_ReSharper.Caches/ReSharperPlatformVs16191_60f1837c.00
/.vs/slnx.sqlite
/.vs
/_ReSharper.Caches/ReSharperPlatformVs16192_60f1837c.00
